{% extends "master.html" %}
{% load static %}
{% block title %}Về chúng tôi{% endblock title %}
{% block content %}

      <div class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>About Us</h2>
                     <p>Việc gì khó<br><br>Có Loan MoTor! </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      <section>
         <img src="{% static 'images/about7.png' %}" alt="gioi-thieu1">
         <h2>Giới Thiệu Loan Motor</h2>
         <p>Chào mừng đến với Loan Motor - điểm đến hàng đầu cho những ai đam mê xe máy và muốn trải nghiệm những chuyến đi đầy phong cách và tiện nghi. Với hơn mười năm kinh nghiệm trong ngành, Loan Motor tự hào là người bạn đồng hành tin cậy, mang đến cho khách hàng những chiếc xe máy chất lượng cao từ các thương hiệu uy tín trên thế giới.</p>
         <img src="{% static 'images/about6.png' %}" alt="gioi-thieu2">
      </section>
     <section>
         <h2>Đa Dạng Sản Phẩm</h2>
         <p>Tại Loan Motor, chúng tôi hiểu rằng mỗi khách hàng có những nhu cầu và sở thích riêng. Do đó, chúng tôi cung cấp một loạt các dòng xe đa dạng, từ xe số truyền thống, xe tay ga tiện lợi, đến những chiếc xe thể thao mạnh mẽ và xe máy điện thân thiện với môi trường. Mỗi chiếc xe tại Loan Motor đều được chọn lọc kỹ lưỡng, đảm bảo đáp ứng tiêu chuẩn cao nhất về chất lượng và hiệu suất.</p>
         <img src="{% static 'images/about5.jpg' %}" alt="da-dang">
      </section>
     <section>
         <h2>Dịch Vụ Khách Hàng Xuất Sắc</h2>
         <p>Không chỉ cung cấp sản phẩm, Loan Motor còn nổi bật với dịch vụ khách hàng xuất sắc. Đội ngũ tư vấn của chúng tôi luôn sẵn lòng hỗ trợ bạn chọn ra chiếc xe phù hợp nhất với phong cách và ngân sách của bạn. Ngoài ra, chúng tôi cung cấp dịch vụ bảo hành, bảo dưỡng và sửa chữa xe máy, đảm bảo rằng chiếc xe của bạn luôn ở trong tình trạng tốt nhất.</p>
         <img src="{% static 'images/about1.png' %}" alt="dich-vu">
      </section>
     <section>
         <h2>Cam Kết về Chất Lượng và Giá Trị</h2>
         <p>Loan Motor cam kết mang đến cho khách hàng những sản phẩm và dịch vụ tốt nhất. Từ việc lựa chọn những mẫu xe mới nhất, chất lượng nhất, đến việc cung cấp các phụ tùng chính hãng và dịch vụ hậu mãi chuyên nghiệp, mọi nỗ lực của chúng tôi đều nhằm mục đích tối đa hóa sự hài lòng của khách hàng.</p>
         <img src="{% static 'images/about4.jpg' %}" alt="cam-ket">
      </section>
     <section>
         <h2>Một Cộng Đồng Đam Mê Xe Máy</h2>
         <p>Tại Loan Motor, chúng tôi không chỉ bán xe - chúng tôi xây dựng cộng đồng. Với các sự kiện thường niên, cuộc thi lái xe, và các buổi gặp gỡ cộng đồng, chúng tôi tạo điều kiện để những người đam mê xe máy có thể chia sẻ kinh nghiệm, kiến thức và niềm đam mê của mình.</p>
         <img src="{% static 'images/about5.jpg' %}" alt="cong-dong">
      </section>
     <section>
      <!-- about -->
         <h2>Kết Luận</h2>
         <p>Hãy đến với Loan Motor để trải nghiệm sự khác biệt trong mỗi chuyến đi - nơi mà chất lượng, phong cách, và sự hài lòng của khách hàng là ưu tiên hàng đầu của chúng tôi. Chúng tôi mong chờ được chào đón bạn tại các showroom của Loan Motor trên khắp đất nước.</p>
         <img src="{% static 'images/about8.png' %}" alt="ket-luan">
      </section>
{% endblock content %}
