{% extends "master.html" %}
{% load static %}
{% block title %}Liên hệ{% endblock title %}
{% block content %}
       <!-- contact -->
       <div class="contact">
         <div class="container">
            <div class="row ">
               <div class="col-md-8 offset-md-2">
                  <div class="titlepage text_align_left">
                     <h2>Nhập thông tin</h2>
                  </div>
                  <form id="request" class="main_form">
                     <div class="row">
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Họ và tên" type="type" name=" Name"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Số điện thoại" type="type" name="Phone Number">                          
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email" type="type" name="Email">                          
                        </div>
                        <div class="col-md-12">
                           <textarea class="textarea" placeholder="Thông điệp muốn gửi đến chúng tôi" type="type" Message="Name"></textarea>
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn">Gửi ngay bây giờ</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-6">
         <div class="titlepage text_align_left">
            <style>
               /* Font and text alignment styles */
               .clientsl_text {
                  font-family: 'Your-Preferred-Font', sans-serif; /* Replace 'Your-Preferred-Font' with the desired font-family */
                  text-align: center;
               }
            
               .carousel-caption {
                  text-align: center;
               }
            
               .carousel-inner {
                  text-align: left; /* Reset text alignment for the container */
               }
            </style>
            
         <h2>Khách hàng nói gì về Loan Motor</h2>
            </div>
               <div id="clientsl" class="carousel slide our_clientsl" data-ride="carousel">
                  <ol class="carousel-indicators">
                     <li data-target="#clientsl" data-slide-to="0" class="active"></li>
                     <li data-target="#clientsl" data-slide-to="1"></li>
                     <li data-target="#clientsl" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="container">
                           <div class="carousel-caption posi_in">
                              <div class="clientsl_text">
                                 <i><img src= {% static "images/client1.png" %} alt="#"/></i>
                                 <h3>Lê Minh<img src= {% static "images/icon.png" %} alt="#"/></h3>
                                 <p>Tôi cảm thấy Loan Motor là 1 công ty bán xe máy thực sự uy tín. Dù đã thành lập được 10 năm nhưng chất lượng sản phẩm luôn đáng tin cậy, đội ngũ nhân viên nhiệt tình, tâm huyết cùng với các sự kiện được tổ chức ở Loan Motor rất to lớn, luôn thu hút 1 lượng đông đảo khách hàng và rầm rộ trên các nền tảng mạng xã hội. Tôi sẽ còn mua và bảo dưỡng xe máy ở đây lâu dài.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="container">
                           <div class="carousel-caption posi_in">
                              <div class="clientsl_text">
                                 <i><img src= {% static "images/client3.jpg" %} alt="#"/></i>
                                 <h3>Thu Loan<img src= {% static "images/icon.png" %} alt="#"/></h3>
                                 <p>Loan Motor thực sự rất tuyệt vời. Tôi đặc biệt thích những sự kiện lớn được tổ chức ở đây, khi đó có rất nhiều xe mô tô đời mới và đắt tiền, cùng các tay đua cừ khôi từ mọi miền đất nước về góp mặt. Tôi may mắn là 1 trong những vận động viên tham gia sự kiện và đã giành được phần thưởng trị giá hơn 2 tỷ đồng. Thực sự quá may mắn</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="container">
                           <div class="carousel-caption posi_in">
                              <div class="clientsl_text">
                                 <i><img src= {% static "images/client5.png" %} alt="#"/></i>
                                 <h3>Dung Tran<img src= {% static "images/icon.png" %} alt="#"/></h3>
                                 <p>Không còn lời nào để diễn tả độ hot hiện tại của Loan Motor. Bây giờ ở chỗ tôi, người người nhà nhà sắm xe Phân Khối Lớn đều đến Loan Motor vì chất lượng, uy tín, giá rẻ lại còn được nhiều ưu đãi. Vợ tôi sắp Tết lại đến đây để sắm 1 chiếc Kawasaki đời mới. Còn con gái tôi thì chuẩn bị mua Ducati ở đây.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <a class="carousel-control-prev" href="#clientsl" role="button" data-slide="prev">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                  <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#clientsl" role="button" data-slide="next">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  <span class="sr-only">Next</span>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
      <!-- contact -->
{% endblock content %}
