{% extends "master.html" %}
{% load static %}
{% block title %}Trang chủ{% endblock title %}
{% block content %}

      <!-- we_do -->
      <div class="we_do">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>Loan Motor có gì?</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="we1" class="carousel slide" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#we1" data-slide-to="0" class="active"></li>
                        <li data-target="#we1" data-slide-to="1"></li>
                        <li data-target="#we1" data-slide-to="2"></li>
                        <li data-target="#we1" data-slide-to="3"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container-fluid">
                              <div class="carousel-caption we1_do">
                                 <div class="row">
                                    <div class="col-md-4">
                                       <div id="bo_ho" class="we_box text_align_left">
                                          <i><img src="{% static 'images/we3.jpg' %}" alt="#"/></i>
                                          <h3>TIÊN PHONG</h3>
                                          <p>Loan Motor tiên phong và tự hào là thương hiệu dẫn đầu về bán xe mô tô, xe Phân Khối Lớn nổi tiếng và xếp hạng thứ nhất tại Việt Nam, phấn đấu xếp thứ 2 Đông Nam Á và vươn tầm thế giới.                                            
                                          </p>
                                          <a class="read_more" href="we_do">Read More</a>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div id="bo_ho" class="we_box text_align_left">
                                          <i><img src="{% static 'images/we2.jpg' %}" alt="#"/></i>
                                          <h3>UY TÍN</h3>
                                          <p>Uy tín là điều đáng quan tâm của hầu hết các nhãn hàng và các doanh nghiệp. Loan Motor luôn tạo niềm tin cho khách hàng và luôn là sự lựa chọn hàng đầu, nơi khách hàng đặt niềm tin.
                                          </p>
                                          <a class="read_more" href="we_do">Read More</a>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div id="bo_ho" class="we_box text_align_left">
                                          <i><img src="{% static 'images/we4.jpg' %}" alt="#"/></i>

                                          <h3>CHẤT LƯỢNG</h3>
                                          <p>Chất lượng sản phẩm ở Loan Motor luôn dẫn đầu và cập nhật các sản phẩm mới nhất về, bảo dưỡng và sửa chữa miễn phí cùng với bảo hành trọn đời cho khách hàng.
                                          </p>
                                          <a class="read_more" href="we_do">Read More</a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        
                        <div class="carousel-item">
                           <div class="container-fluid">
                              <div class="carousel-caption we1_do">
                                 <div class="row">
                                    <div class="col-md-4">
                                       <div id="bo_ho" class="we_box text_align_left">
                                          <i><img src="{% static 'images/we5.jpg' %}" alt="#"/></i>
                                          <h3>GIÁ TỐT</h3>
                                          <p>Đến với Loan Motor, bạn có thể yên tâm về giá khi ở đây có cả xe mới và các dòng xe cũ được bảo dưỡng, bán lại với giá vô cùng ưu đãi. Hỗ trợ khách hàng bằng nhiều phương thức thanh toán cũng như trả góp 0% lãi suất.
                                          </p>
                                          <a class="read_more" href="we_do">Read More</a>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div id="bo_ho" class="we_box text_align_left">
                                          <i><img src="{% static 'images/we6.jpg' %}" alt="#"/></i>
                                          <h3>ƯU ĐÃI</h3>
                                          <p>Cửa hàng Loan Motor có nhiều chi nhánh và luôn tổ chức các sự kiện lớn, mỗi sự kiện đều giảm giá các mặt xe cho các vị khách may mắn cũng như tạo ra nhiều ưu đãi cao cho các khách hàng vào các dịp lễ, ngày kỉ niệm của công ty.
                                          </p>
                                          <a class="read_more" href="we_do">Read More</a>
                                       </div>
                                    </div>
                                    <div class="col-md-4">
                                       <div id="bo_ho" class="we_box text_align_left">
                                          <i><img src="{% static 'images/we7.png' %}" alt="#"/></i>
                                          <h3>AN TOÀN</h3>
                                          <p>Nói gì thì nói, an toàn là trên hết. Chính vì vậy, công ty luôn có một lượng lớn đội ngũ tư vấn, bảo vệ, vận hành các chính sách an toàn cho khách hàng và áp dụng thực tế. Đ ông đảo khách hàng lựa chọn mua xe ở đây. Chần chờ gì nữa mà không mua vội!!!
                                          </p>
                                          <a class="read_more" href="we_do">Read More</a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#we1" role="button" data-slide="prev">
                     <i class="fa fa-angle-left" aria-hidden="true"></i>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#we1" role="button" data-slide="next">
                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end we_do -->
      <!-- about -->
      <div class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>Loan Motor</h2>
                     <p>Hãy Chạy Xe<br><br> Thật Phong Cách</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end about -->
      <!-- shop -->
      <div class="portfolio">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_left">
                     <h2>Danh mục sản phẩm xe PKL tại Loan Motor</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-6">
                  <div id="ho_nf" class="portfolio_main text_align_left">
                     <figure>
                        <img src="{% static 'images/shop1.jpg' %}" alt="#"/>
                        <div class="shop_text">
                           <h3>Kawasaki Ninja 250r</h3>
                           <p>Giá: 200.000.000 VND</p>
                           <a href="shop/details/2" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                     </figure>
                  </div>
               </div>
               <div class="col-md-6">
                  <div id="ho_nf" class="portfolio_main text_align_left">
                     <figure>
                        <img src="{% static 'images/shop2.png' %}" alt="#"/>
                        <div class="shop_text">
                           
                           <h3>DUCATI 899 Panigale 2015</h3>
                           <p>Giá: 999.000.000 VND</p>
                           <a href="shop/details/1" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                     </figure>
                  </div>
               </div>
               <div class="col-md-6">
                  <div id="ho_nf" class="portfolio_main text_align_left">
                     <figure>
                        <img src="{% static 'images/shop3.png' %}" alt="#"/>
                        <div class="shop_text">
                           
                           <h3>Honda CBR 1000R</h3>
                           <p>Giá: 987.654.321 VND</p>
                           <a href="shop/details/6" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                     </figure>
                  </div>
               </div>
               <div class="col-md-6">
                  <div id="ho_nf" class="portfolio_main text_align_left">
                     <figure>
                        <img src="{% static 'images/shop4.png' %}" alt="#"/>
                        <div class="shop_text">
                           
                           <h3>YAMAHA YZF-R3</h3>
                           <p>Giá: 150.000.000 VND</p>
                           <a href="shop/details/5" class="btn btn-primary">Xem chi tiết</a>
                        </div>
                     </figure>
                  </div>
               </div>
               <div class="col-md-12">
                  <a class="read_more" href="{% url "shop" %}">See More</a>
               </div>
            </div>
         </div>
      </div>
      <!-- end shop -->
      <!-- chose -->
      <div class="chose">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-12">
                  <div class="titlepage text_align_left">
                     <h2>Tại sao lựa chọn Loan Motor</h2>
                  </div>
               </div>
               <div class="col-lg-5 col-md-4">
                  <div class="chose_box">
                     <i><img src="{% static 'images/chose1.png' %}" alt="#"/></i>
                     <h3>Project Done </h3>
                     <strong>10000+</strong>
                     <a class="read_more" href="Javascript:void(0)">Read More</a>
                  </div>
               </div>
               <div class="col-lg-5 col-md-4">
                  <div class="chose_box">
                     <i><img src="{% static 'images/chose2.png' %}" alt="#"/></i>
                     <h3>Happy Clients </h3>
                     <strong>9000+</strong>
                     <a class="read_more" href="Javascript:void(0)">Read More</a>
                  </div>
               </div>
               <div class="col-lg-2 col-md-4">
                  <div class="chose_box">
                     <i><img src="{% static 'images/chose3.png' %}" alt="#"/></i>
                     <h3>Awards</h3>
                     <strong>1000+</strong>
                     <a class="read_more" href="Javascript:void(0)">Read More</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end chose -->
      
      <!-- contact -->
      <div class="contact">
         <div class="container">
            <div class="row ">
               <div class="col-md-8 offset-md-2">
                  <div class="titlepage text_align_left">
                     <h2>Nhập thông tin</h2>
                  </div>
                  <form id="request" class="main_form">
                     <div class="row">
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Họ và tên" type="type" name=" Name"> 
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Số điện thoại" type="type" name="Phone Number">                          
                        </div>
                        <div class="col-md-12">
                           <input class="contactus" placeholder="Email" type="type" name="Email">                          
                        </div>
                        <div class="col-md-12">
                           <textarea class="textarea" placeholder="Thông điệp muốn gửi đến chúng tôi" type="type" Message="Name"></textarea>
                        </div>
                        <div class="col-md-12">
                           <button class="send_btn">Gửi ngay bây giờ</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <style>
         /* Font and text alignment styles */
         .clientsl_text {
            font-family: 'Your-Preferred-Font', sans-serif; /* Replace 'Your-Preferred-Font' with the desired font-family */
            text-align: center;
         }
      
         .carousel-caption {
            text-align: center;
         }
      
         .carousel-inner {
            text-align: left; /* Reset text alignment for the container */
         }
      </style>
      
      <div class="col-md-6">
            <div class="titlepage text_align_left">
            <h2>Khách hàng nói gì về Loan Motor</h2>
               </div>
                  <div id="clientsl" class="carousel slide our_clientsl" data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#clientsl" data-slide-to="0" class="active"></li>
                        <li data-target="#clientsl" data-slide-to="1"></li>
                        <li data-target="#clientsl" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption posi_in">
                                 <div class="clientsl_text">
                                    <i><img src="{% static 'images/client1.png' %}" alt="#"/></i>
                                    <h3>Lê Minh<img src="{% static 'images/icon.png' %}" alt="#"/></h3>
                                    <p>Tôi cảm thấy Loan Motor là 1 công ty bán xe máy thực sự uy tín. Dù đã thành lập được 10 năm nhưng chất lượng sản phẩm luôn đáng tin cậy, đội ngũ nhân viên nhiệt tình, tâm huyết cùng với các sự kiện được tổ chức ở Loan Motor rất to lớn, luôn thu hút 1 lượng đông đảo khách hàng và rầm rộ trên các nền tảng mạng xã hội. Tôi sẽ còn mua và bảo dưỡng xe máy ở đây lâu dài.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption posi_in">
                                 <div class="clientsl_text">
                                    <i><img src="{% static 'images/client3.jpg' %}" alt="#"/></i>
                                    <h3>Thu Loan <img src="{% static 'images/icon.png' %}" alt="#"/></h3>
                                    <p>Loan Motor thực sự rất tuyệt vời. Tôi đặc biệt thích những sự kiện lớn được tổ chức ở đây, khi đó có rất nhiều xe mô tô đời mới và đắt tiền, cùng các tay đua cừ khôi từ mọi miền đất nước về góp mặt. Tôi may mắn là 1 trong những vận động viên tham gia sự kiện và đã giành được phần thưởng trị giá hơn 2 tỷ đồng. Thực sự quá may mắn</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption posi_in">
                                 <div class="clientsl_text">
                                    <i><img src="{% static 'images/client5.png' %}" alt="#"/></i>
                                    <h3>Dung Tran <img src="{% static 'images/icon.png' %}" alt="#"/></h3>
                                    <p>Không còn lời nào để diễn tả độ hot hiện tại của Loan Motor. Bây giờ ở chỗ tôi, người người nhà nhà sắm xe Phân Khối Lớn đều đến Loan Motor vì chất lượng, uy tín, giá rẻ lại còn được nhiều ưu đãi. Vợ tôi sắp Tết lại đến đây để sắm 1 chiếc Kawasaki đời mới. Còn con gái tôi thì chuẩn bị mua Ducati ở đây.</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#clientsl" role="button" data-slide="prev">
                     <i class="fa fa-angle-left" aria-hidden="true"></i>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#clientsl" role="button" data-slide="next">
                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact -->
{% endblock content %}
