{% extends "master.html" %}
{% load static %}
{% block title %}Tin tức{% endblock title %}
{% block content %}
            <!-- we_do -->
            <section>
               <a href="news1.html" class="news">
                   <img src="{% static "images/new1.png" %}" alt="Tin tức 1">
                   <div class="news-details">
                       <h2>HONDA CB1000R 2023 ĐÃ CÓ GIÁ CHO 2 PHIÊN BẢN MỚI NHẤT</h2>
                       <p>HONDA CB1000R 2023 ĐÃ CÓ GIÁ CHO 2 PHIÊN BẢN MỚI NHẤT Honda CB1000R 2023 đã xuất hiện 2 phiên bản: tiêu chuẩn và Black Editon đã được...</p>
                   </div>
               </a>
       
               <a href="service2.html" class="news">
                   <img src="{% static "images/new2.png" %}" alt="Tin tức 2">
                   <div class="news-details">
                       <h2>HÌNH ẢNH MỚI NHẤT CỦA BỘ BA CÀO CÀO KAWASAKI KLX 2023</h2>
                       <p>HÌNH ẢNH MỚI NHẤT CỦA BỘ BA CÀO CÀO KAWASAKI KLX 2023 Mới đây bộ 3 xe cào cào KLX của nhà Kawasaki đã xuất hiện hình ảnh mới...</p>
                   </div>
               </a>
       
               <a href="service3.html" class="news">
                   <img src="{% static "images/new3.jpg" %}" alt="Tin tức 3">
                   <div class="news-details">
                       <h2>CHÍNH THỨC CÓ HÌNH PHẠT CHO KẺ CƯỚP NGÂN HÀNG 3,5 TỶ ĐI MUA</h2>
                       <p>CHÍNH THỨC CÓ HÌNH PHẠT CHO KẺ CƯỚP NGÂN HÀNG 3,5 TỶ ĐI MUA MOTOR Vừa qua Nguyễn Văn Nam, 24 tuổi bị tuyên tù chung thân do dùng súng...</p>
                   </div>
               </a>
       
               <a href="service4.html" class="news">
                   <img src="{% static "images/new4.png" %}" alt="Tin tức 4">
                   <div class="news-details">
                       <h2>YAMAHA FZ155 FAZER 2023 CÔNG BỐ GIÁ BÁN CỰC HẤP DẪN KÈM THEO</h2>
                       <p>YAMAHA FZ155 FAZER 2023 CÔNG BỐ GIÁ BÁN CỰC HẤP DẪN KÈM THEO THIẾT KẾ MỚI LẠ Vừa mới đây Yamaha đã cho ra mắt tân binh cực mới...</p>
                   </div>
               </a>
       
               <a href="service5.html" class="news">
                   <img src="{% static "images/new5.png" %}" alt="Tin tức 5">
                   <div class="news-details">
                       <h2>HARLEY – DAVIDSON CVO ROAD GLIDE 2022 CHUẨN BỊ VỀ VIỆT NAM</h2>
                       <p>HARLEY – DAVIDSON CVO ROAD GLIDE 2022 CHUẨN BỊ VỀ VIỆT NAM VỚI GIÁ HƠN 2 TỶ Harley – Davidson CVO road Glide 2022 chuẩn bị...</p>
                   </div>
               </a>
       
               <a href="service6.html" class="news">
                   <img src="{% static "images/new6.png" %}" alt="Tin tức 6">
                   <div class="news-details">
                       <h2>YAMAHA CÔNG BỐ GIÁ BÁN XMAX 300 TMAX 560 TẠI VIỆT NAM</h2>
                       <p>YAMAHA CÔNG BỐ GIÁ BÁN XMAX 300 TMAX 560 TẠI VIỆT NAM Vừa qua Yamaha đã công bố giá bán XMAX 300 và TMAX 560 tại thị trường Việt...</p>
                   </div>
               </a>
       
           </section>
{%endblock content %}
     
