{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA_Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Ký</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="wrapper">
        <form method="POST">
            {% csrf_token %}
            <h1>Đăng ký</h1>
            <div class="input-box">
                <label for="{{ form.username.id_for_label }}"></label>
                {{ form.username }}
                <i class='bx bxs-user'></i>
            </div>
            <div class="input-box">
                <label for="{{ form.password1.id_for_label }}"></label>
                {{ form.password1 }}
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="input-box">
                <label for="{{ form.password2.id_for_label }}"></label>
                {{ form.password2 }}
                <i class='bx bxs-lock-alt'></i>
            </div>
            <button type="submit" class="btn">Đăng ký</button>
        </form> 
    </div>
</body>
</html>
