{% extends "master.html" %}
{% block title %} bán xe {% endblock title %}
{% block content %}
   <!-- portfolio -->
   <h1 style="text-align: center; font-size: 36px;">Mục lục<br></h1>
   <div class="brand-list">
      {% for brand in brands %}
      <div class="brand-item" onclick="showMotorbikes('{{ brand.name }}')">
         <h2>{{ brand.name }}</h2>
         <div id="{{ brand.name }}" class="motorbike-list">
            {% for motorbike in brand.motorbike_set.all %}
            <div class="motorbike-item">{{ motorbike.name }}</div>
            {% endfor %}
         </div>
      </div>
      {% endfor %}
   </div>
   <!-- end portfolio -->
   <!-- Javascript files-->
   <script>
      function showMotorbikes(brand) {
          var motorbikeLists = document.getElementsByClassName('motorbike-list');
          for (var i = 0; i < motorbikeLists.length; i++) {
              motorbikeLists[i].style.display = 'none';
          }
          document.getElementById(brand).style.display = 'block';
      }
</script>
{% endblock%}
