@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    font-family: Arial, sans-serif;
}

.news-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
}

.news-item a {
    text-decoration: none;
    color: #333;
}

.news-item img {
    width: 100%;
    height: auto;
}

.news-item h2 {
    font-size: 18px;
    margin: 10px 0;
}

.news-item p {
    font-size: 14px;
    line-height: 1.5;
}

.news-item img {
    width: 50%; /* Thay đổi phần trăm theo ý muốn */
    height: auto;
}
