<!DOCTYPE html>
<html>
<head>
    <title>Trang Bán Xe Mô Tô</title>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Cycle</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.csscss/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="../css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="../images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="../css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets --> 
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,700,800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesoeet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
   <div class="header_section header_bg">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <a href="index.html" class="logo"><img src="../images/logo.png"></a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="nav-link" href="index.html">Trang chủ</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="about.html">Về chúng tôi</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="cycle.html">Our Cycle</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="shop.html">Bán xe mô tô</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="news.html">Tin tức</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="contact.html">Liên hệ</a>
               </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
               <div class="login_menu">
                  <ul>
                     <li><a href="#">Login</a></li>
                     <li><a href="#"><img src="../images/trolly-icon.png"></a></li>
                     <li><a href="#"><img src="../images/search-icon.png"></a></li>
                  </ul>
               </div>
               <div></div>
            </form>
         </div>
         <div id="main">
            <span style="font-size:36px;cursor:pointer; color: #fff" onclick="openNav()"><img src="../images/toggle-icon.png" style="height: 30px;"></span>
         </div>
      </nav>
      
      <!-- banner section start -->
      <div class="banner_section layout_padding" width="600px" height="600px">
         <div id="main_slider" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
               <div class="carousel-item">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-7">
                           <div class="best_text">Best</div>
                           <div class="hondacbr"><img src="../images/hondacbr250r.png"></div>
                        </div>
                        <div class="col-md-5">
                           <h1 class="banner_taital">New Model Motor</h1>
                           <p class="banner_text">Unleash the exhilarating performance of the Honda CBR 250R, designed for the ultimate riding experience. </p>
                           <div class="contact_bt"><a href="contact.html">Shop Now</a></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item active">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-7">
                           <div class="best_text">Best</div>
                           <div class="hondacbr"><img src="../images/honda-crf-150f.png"></div>
                        </div>
                        <div class="col-md-5">
                           <h1 class="banner_taital">New Model Motor</h1>
                           <p class="banner_text">Discover unmatched off-road performance with the Honda CFR 150F, built to conquer any terrain with ease. </p>
                           <div class="contact_bt"><a href="contact.html">Shop Now</a></div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="container">
                     <div class="row">
                        <div class="col-md-7">
                           <div class="best_text">Best</div>
                           <div class="hondacbr"><img src="../images/hondacbr150r.png"></div>
                        </div>
                        <div class="col-md-5">
                           <h1 class="banner_taital">New Model Motor</h1>
                           <p class="banner_text">Experience the thrill of the Honda CBR 150R, a perfect blend of power and agility for your riding adventures </p>
                           <div class="contact_bt"><a href="contact.html">Shop Now</a></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-angle-left"></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-angle-right"></i>
            </a>
         </div>
      </div>
      <!-- banner section end -->
   </div>
   <h1 style="text-align: center; font-size: 36px;">Mục lục<br></h1>
         <div class="brand-list">
            <div class="brand-item" onclick="showMotorbikes('honda')">
                  <h2>Honda</h2>
                  <div id="honda" class="motorbike-list">
                     <div class="motorbike-item">CBR650</div>
                     <div class="motorbike-item">CRF150</div>
                     <div class="motorbike-item">CBR250</div>
                  </div>
            </div>
            <div class="brand-item" onclick="showMotorbikes('yamaha')">
                  <h2>Yamaha</h2>
                  <div id="yamaha" class="motorbike-list">
                     <div class="motorbike-item">DS7</div>
                     <div class="motorbike-item">DT50MX</div>
                     <div class="motorbike-item">FS1</div>
                  </div>
            </div>
            <div class="brand-item" onclick="showMotorbikes('suzuki')">
                  <h2>Suzuki</h2>
                  <div id="suzuki" class="motorbike-list">
                     <div class="motorbike-item">GSX-S750</div>
                     <div class="motorbike-item">SV650</div>
                     <div class="motorbike-item">GSX-R1000</div>
                  </div>
            </div>
            <div class="brand-item" onclick="showMotorbikes('kawasaki')">
                  <h2>Kawasaki</h2>
                  <div id="kawasaki" class="motorbike-list">
                     <div class="motorbike-item">Ninja ZX-RR</div>
                     <div class="motorbike-item">KR250</div>
                     <div class="motorbike-item">Ninja ZX-11</div>
                  </div>
            </div>
         </div>
   <script src="../js/jquery.min.js"></script>
   <script src="../js/popper.min.js"></script>
   <script src="../js/bootstrap.bundle.min.js"></script>
   <script src="../js/jquery-3.0.0.min.js"></script>
   <script src="../js/plugin.js"></script>
   <!-- sidebar -->
   <script src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
   <script src="../js/custom.js"></script>
   <!-- javascript --> 
   <script src="../js/owl.carousel.js"></script>
   <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   <script>
         function openNav() {
           document.getElementById("mySidenav").style.width = "150px";
           document.getElementById("main").style.marginLeft = "150px";
         }
         
         function closeNav() {
           document.getElementById("mySidenav").style.width = "0";
           document.getElementById("main").style.marginLeft= "0";
         }
         $("#main").click(function(){
             $("#navbarSupportedContent").toggleClass("nav-normal")
         })
   </script>
   <script>
         function showMotorbikes(brand) {
             var motorbikeLists = document.getElementsByClassName('motorbike-list');
             for (var i = 0; i < motorbikeLists.length; i++) {
                 motorbikeLists[i].style.display = 'none';
             }
             document.getElementById(brand).style.display = 'block';
         }
   </script>
</body>
</html>